<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreationSeance</servlet-name>
        <jsp-file>/CreationSeance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Exercice</servlet-name>
        <jsp-file>/Exercice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletCreationSeance</servlet-name>
        <servlet-class>ctrl.ServletCreationSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreationExercice</servlet-name>
        <servlet-class>ctrl.ServletCreationExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerifExercice</servlet-name>
        <servlet-class>ctrl.ServletVerifExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListeExercices</servlet-name>
        <servlet-class>ctrl.ServletListeExercices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProgramme</servlet-name>
        <servlet-class>ctrl.ServletProgramme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Programme</servlet-name>
        <jsp-file>/Programme.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherSeance</servlet-name>
        <servlet-class>ctrl.ServletAfficherSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjoutExerciceBD</servlet-name>
        <servlet-class>ctrl.ServletAjoutExerciceBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>erreur.jsp</servlet-name>
        <jsp-file>/erreur.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletConsulterSeance</servlet-name>
        <servlet-class>ctrl.ServletConsulterSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRechercherSeance</servlet-name>
        <servlet-class>ctrl.ServletRechercherSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmation</servlet-name>
        <jsp-file>/confirmation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletEnregistrementSession</servlet-name>
        <servlet-class>ctrl.ServletEnregistrementSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherExercice</servlet-name>
        <servlet-class>ctrl.ServletAfficherExercice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationSeance</servlet-name>
        <url-pattern>/creationSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercice</servlet-name>
        <url-pattern>/exercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreationSeance</servlet-name>
        <url-pattern>/ServletCreationSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreationExercice</servlet-name>
        <url-pattern>/ServletCreationExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerifExercice</servlet-name>
        <url-pattern>/ServletVerifExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeExercices</servlet-name>
        <url-pattern>/ServletListeExercices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProgramme</servlet-name>
        <url-pattern>/ServletProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Programme</servlet-name>
        <url-pattern>/programme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherSeance</servlet-name>
        <url-pattern>/ServletAfficherSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjoutExerciceBD</servlet-name>
        <url-pattern>/ServletAjoutExerciceBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>erreur.jsp</servlet-name>
        <url-pattern>/erreur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsulterSeance</servlet-name>
        <url-pattern>/ServletConsulterSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRechercherSeance</servlet-name>
        <url-pattern>/ServletRechercherSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmation</servlet-name>
        <url-pattern>/confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnregistrementSession</servlet-name>
        <url-pattern>/ServletEnregistrementSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherExercice</servlet-name>
        <url-pattern>/ServletAfficherExercice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
